{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false
        }
      ]
    ],
    "plugins": [
      ["transform-inline-environment-variables", {
        "include": ["NODE_ENV", "MONGO_URI", "DATABASE_URI"]
      }]
    ]
  }
  